.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards>ul>li {
  background-color: var(--background-color);
}

.cards .cards-card-body {
  color: dimgray;
  display: block;
  font-size: var(--font-size-small, 14px);
}

.cards .cards-card-body h4 {
  margin: 0 0 8px;
}

.cards .cards-card-body h4 a {
  color: var(--text-color, #202020);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-medium, 18px);
  font-weight: var(--font-weight-bold, 600);
  text-transform: uppercase;
  text-decoration: none;
}

.cards .cards-card-body p {
  font-size: 14px;
  line-height: 1.5;

  /* margin: 0; */
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards {
  --link-color: inherit;
  --link-hover-color: inherit;
}
