.sociallinks p {
  margin: 0;
}

.sociallinks>div>div p {
  display: flex;
  margin: 0;
}

.sociallinks ul {
  margin: 0;
  padding: 0;
}

.sociallinks li {
  list-style: none;
}

.sociallinks a {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 10px 15px;
  background: #ebebeb;
  color: var(--background-color);
}

.sociallinks-icon:hover svg {
  fill: var(--link-hover-color);
}