.featured-article-wrapper {
  padding: 0 !important;
  margin-top: 50px !important;
}

.featured-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1em;
}

.featured-article > div {
  display: flex;
  flex-direction: column;
}

/* Image container - first div */
.featured-article > div > div:first-child {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.featured-article > div > div:first-child picture {
  width: 100%;
  height: 100%;
}

.featured-article > div > div:first-child img {
  margin-top: 0;
  margin-bottom: 0;
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

/* Text container - second div */
.featured-article > div > div:last-child {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ebebeb;
  padding: 3.5em 2em 2em;
}

.featured-article > div > div:last-child p {
  font-size: 14px;
  margin: 0 0 1em;
  line-height: 1.75;
}

.featured-article > div > div:last-child h2 {
  margin: 0.5em 0;
}

.featured-article > div > div:last-child p strong {
  font-size: 18px;
  font-weight: 700;
}

.featured-article > div > div:last-child .button-container {
  margin-top: 1em;
}

/* Desktop layout */
@media (width >= 900px) {
  .featured-article > div {
    flex-direction: row;
  }
}
