/* Articles card grid */
.articles-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.article-card {
  /* border: 1px solid #e6e6e6;  */
  background-color: var(--background-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.article-link {
  color: inherit;
  text-decoration: none;
  display: block;
  height: 100%;
}

.article-link picture,
.article-link img {
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.article-body {
  color: dimgray;
  display: block;
  font-size: var(--font-size-small, 14px);
}

.article-body h3 {
  margin: 0 0 8px;
  font-size: var(--font-size-medium, 18px);
  font-weight: var(--font-weight-bold, 600);
  text-transform: uppercase;
}

.article-body h3 a {
  color: var(--text-color, #202020);
  font-family: var(--font-family-sans-serif);
  text-decoration: none;
}

.article-desc {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-link,
.article-link:hover,
.article-link:focus,
.article-link:active {
  text-decoration: none;
  color: inherit;
}